body {
    /* background-color: #e8eae6; */
    background-color: white;
    min-height: '900px';
}

.navLink, .link {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.navLink:hover, .link:hover h6, .navLink:focus, .link:focus h6, .navLink.active{
    color: orangered;
}
